version: '3.4'

services:
  db:
    image: postgres
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_PASSWORD=oKLyNUr2doEBlMup47ii
      - POSTGRES_USER=postgres
      - POSTGRES_DB=balancesheet
