version: '3.4'

services:
  db:
    image: postgres:16
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_PASSWORD=oKLyNUr2doEBlMup47ii
      - POSTGRES_USER=postgres
      - POSTGRES_DB=balancesheet

  pgadmin:
    image: dpage/pgadmin4:6.15
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_LISTEN_PORT: 80
    ports:
      - '15432:80'
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  pgadmin:
