version: '3.4'

services:
  calculator:
    depends_on:
      - db
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env-docker/.env-calculator


  db:
    image: postgres
    ports:
      - "5433:5432"
    env_file:
      - .env-docker/.env-db




