name: 'Check types'
inputs:
  node-version:  # id of input
    required: true

runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}
        cache: 'yarn'
    - name: Install dependencies
      shell: bash
      run: yarn install
    - name: Run check-ts
      shell: bash
      run: yarn check-ts
