name: 'Linting'
inputs:
  node-version:  # id of input
    required: true

runs:
  steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}
        cache: 'yarn'
    - name: Install dependencies
      run: yarn install
    - name: Run lint
      run: yarn lint
