name: 'Linting'
inputs:
  node-version:  # id of input
    required: true

runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v5
      shell: bash
    - uses: actions/setup-node@v4
      shell: bash
      with:
        node-version: ${{ inputs.node-version }}
        cache: 'yarn'
    - name: Install dependencies
      shell: bash
      run: yarn install
    - name: Run lint
      shell: bash
      run: yarn lint
