name: Build docker image
on:
  push:
    branches: ['main']
env:
  NODE_VERSION: 18.7.0

jobs:
  lint:
    name: 'Linting'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run lint
        run: yarn lint
  check-ts:
    name: 'Check typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run check-ts
        run: yarn check-ts
