openapi: 3.0.0
info:
  title: Sample API
  description: Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/) or HTML.
  version: 0.1.9
servers:
  - url: http://localhost:4000/v1
    description: Local
tags:
  - name: "authentication"
    description: "Endpoints to retrieve tokens"
  - name: "balance sheets"
    description: "All endpoints around balance sheets"
components:
  securitySchemes:
    bearerAuth: # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
  schemas:
    User:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
paths:
  /users/token:
    post:
      tags:
        - "authentication"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/User'
            examples: # Child of media type
              Jessica: # Example 1
                value:
                  email: hello@ecogood.org
                  password: mypassword
        required: true
      security: []
      summary: Get token.
      description: Optional extended description in CommonMark or HTML.
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /balancesheets/{id}:
    $ref: "./get.balance.sheet.yaml"

security:
  - bearerAuth: [ ]